/* EXO 1 */
#mon-titre{
    color: blue;
    font-weight: bold;
    text-align: center;
    margin: 0; /*EXO 2 */
}

.mon-header{
   background-color: #6f6f6f; 
   padding: 2em; /*EXO 2*/
}

/* EXO 2 */
body{
   margin: 0; 
}

.ma-liste{
    list-style-type: none;
}

.mes-items{
    display: inline;
    margin: 1.5em;
}

a{
    text-decoration: none;
    color: inherit;
}

/* EXO 3 */

.mon-btn{
    border-radius: 3em;
    background-color: rgb(171, 255, 171);
    padding: 1.5em;
}

.mon-btn:hover{
    background-color: #535353;
    color: white;
    cursor: pointer;
    /* padding: 5em; */
}

/* EXO 4 */
.section-articles{
    margin: 1em;
}

article{
    border: 2px black dashed;
    margin: 1em;
    padding: 1em;
}

h1, h2, h3{
    font-family: "ROBOTO", sans-serif;
}

@font-face {
    font-family: "ROBOTO" ;
    src: url("../assets/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf");
}

.auteur{
    font-style: italic;
    font-size: small;
}



/* exo 5 */
.flex-div-parent{
    width: 50em;
    height: 20em;
    background-color: blue;

    /* FLEX */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-div-1,
.flex-div-2,
.flex-div-3{
    width: 10em;
    height: 10em;
    background-color: green;
}

.flex-div-1{
    display: flex;
    align-items: flex-end;
}

.flex-div-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-div-3{
    display: flex;
    justify-content: flex-end;
}


.colPerso1{
    background-color: green;
}

.colPerso2{
    background-color: blue;
}

.colPerso3{
    background-color: yellow;
}